{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Users</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'css/manageUsers.css' %}">



   <style>
        #scrollingUsernames {
            position: fixed;
            top: 100%; /* Start from bottom */
            right: 0;
            width: 200px;
            height: 100px;
            overflow: hidden;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: scrollUsernames 20s linear infinite; /* Adjust speed and timing here */
        }
        
        @keyframes scrollUsernames {
            0% {
                top: 100%; /* Start from bottom */
            }
            100% {
                top: -100%; /* Scroll to top */
            }
        }
        
        #scrollingUsernames .username {
            display: block;
            text-align: center;
            font-size: 16px;
            padding: 10px 0;
        }
        JavaScript
    </style>


</head>
<body>
   <!-- Left Sidebar -->
   <div id="sidebarCollapse">
       <i class="fas fa-bars text-dark"></i>
   </div>
   <div id="sidebar" class="bg-dark vh-100 p-3">
       <!-- Sidebar content -->
       <div class="flex items-center py-3 justify-center h-16 border-none dark:border-none">
            <img src="{% static 'logo.png' %}" alt="Logo" class="h-200 w-70 rounded-full">
        </div>
       <div class="nav flex-column nav-pills">
           <!-- Navigation links -->
           <a class="nav-link text-white my-5" href="/user/admin_dashboard/">Dashboard</a>
           <div class="nav-item dropdown my-5">
               <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   People
               </a>
               <ul class="dropdown-menu bg-dark">
                   <li><a class="dropdown-item text-white" id="userListLink" href="/user/users/">Users</a></li>
                   <li><a class="dropdown-item text-white" href="/prediction/predictions/">Patients</a></li>
                   <li><a class="dropdown-item text-white" href="/employee/employees/">Employee</a></li>
               </ul>
           </div>
           <div class="nav-item dropdown my-5">
               <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Insurance
               </a>
               <ul class="dropdown-menu bg-dark">
                   <li><a class="nav-link text-white my-5 py-5" href="/insurance/insurances/">Insurances</a></li>
                   <li><a class="nav-link text-white my-5 py-5" href="/client/clients/">Insurance Members</a></li>
               </ul>
           </div>
           <div class="mt-auto my-5">
               <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
           </div>
       </div>
   </div>
   <!-- End Left Sidebar -->

   <!-- Main Content -->
   <div class="main-content">
       <h1 class="text-center mb-5 py-5">Manage Users</h1>

       <!-- Search and Add User Button -->
       <div class="d-flex justify-content-end mb-5">
            <input type="text" id="searchInput" class="form-control w-auto me-2" placeholder="Search">
            <button id="searchButton" class="btn btn-primary">Search</button>
        </div>
    

       <!-- Table of Users -->
       <div class="table-container">
           <table class="table table-striped" id="tbl">
               <!-- Table headers -->
               <thead>
                   <tr>
                       <th>ID</th>
                       <th>Username</th>
                       <th>Email</th>
                       <th>Role</th>
                       <th>Created Date</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <!-- Table body -->
               <tbody id="userTableBody">
                   <!-- Loop through users data -->
                   {% for user in users %}
                   <tr>
                       <td>{{ user.id }}</td>
                       <td>{{ user.username }}</td>
                       <td>{{ user.email }}</td>
                       <td>{{ user.role }}</td>
                       <td>{{ user.created_date }}</td>
                       <td>
                           <button class="btn btn-primary btn-sm edit-user-btn" data-user-id="{{ user.id }}">Edit</button>
                           <button class="btn btn-danger btn-sm delete-user-btn" data-user-id="{{ user.id }}">Delete</button>
                       </td>
                   </tr>
                   {% endfor %}
               </tbody>
           </table>
       </div>

       <!-- Pagination Links -->
       <div class="pagination justify-content-center">
           <ul class="pagination">
               {% if users.has_previous %}
                   <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                   <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a></li>
               {% endif %}
               {% for i in users.paginator.page_range %}
                   {% if users.number == i %}
                       <li class="page-item active" aria-current="page"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                   {% else %}
                       <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                   {% endif %}
               {% endfor %}
               {% if users.has_next %}
                   <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next</a></li>
                   <li class="page-item"><a class="page-link" href="?page={{ users.paginator.num_pages }}">&raquo;</a></li>
               {% endif %}
           </ul>
       </div>

       <!-- Download buttons -->
       <div class="text-center mt-3">
           <button class="btn btn-success" onclick="downloadPDF()">Download PDF</button>
           <button class="btn btn-secondary ms-2" onclick="downloadExcel()">Download Excel</button>
       </div>

       <!-- Edit User Modal -->
       <div id="editUserModal" class="modal">
           <div class="modal-content">
               <span class="close">&times;</span>
               <div class="card">
                   <div class="card-body">
                       <h5 class="card-title">Edit User</h5>
                       <form id="editUserForm" action="" method="post">
                           <input type="hidden" id="userId" name="userId">
                           <div class="mb-3">
                               <label for="editUsername" class="form-label">Username:</label>
                               <input type="text" id="editUsername" name="editUsername" class="form-control">
                           </div>
                           <div class="mb-3">
                               <label for="editEmail" class="form-label">Email:</label>
                               <input type="email" id="editEmail" name="editEmail" class="form-control">
                           </div>
                           <div class="mb-3">
                               <label for="role" class="form-label">Role</label>
                               <select class="form-select" id="role" name="role">
                                   <option value="admin">Admin</option>
                                   <option value="doctor">Doctor</option>
                                   <option value="investigator">Investigator</option>
                               </select>
                           </div>
                           <button type="submit" class="btn btn-primary">Save Changes</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Edit User Modal -->

   </div>
   <!-- End Main Content -->

   <!-- Add the scrolling usernames container -->
   <div id="scrollingUsernames">
        {% for user in users %}
            <div class="username">{{ user.username }}</div>
        {% endfor %}
    </div>

   <!-- Scripts -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="{% static 'js/manageUsers.js' %}"></script>
   <script>
       document.getElementById('searchButton').addEventListener('click', function() {
           const query = document.getElementById('searchInput').value;
           window.location.href = `/user/users/?search=${query}`;
       });

       function downloadPDF() {
           window.location.href = '/user/users/download/pdf/';
       }

       function downloadExcel() {
           window.location.href = '/user/users/download/excel/';
       }



      


       // JavaScript for scrolling usernames
        document.addEventListener('DOMContentLoaded', function() {
            const usernames = document.querySelectorAll('#scrollingUsernames .username');
            let currentIndex = 0;

            function showNextUsername() {
                currentIndex = (currentIndex + 1) % usernames.length;
            }

            setInterval(function() {
                usernames.forEach(user => user.style.display = 'none');
                showNextUsername();
                usernames[currentIndex].style.display = 'block';
            }, 2000); // Change every 2 seconds
        });


 



       document.addEventListener('DOMContentLoaded', function() {
            const editUserButtons = document.querySelectorAll('.edit-user-btn');
            const deleteUserButtons = document.querySelectorAll('.delete-user-btn');
            const editUserModal = document.getElementById('editUserModal');
            const closeModalButton = document.querySelector('.close');
            const editUserForm = document.getElementById('editUserForm');
            const userIdInput = document.getElementById('userId');
            const editUsernameInput = document.getElementById('editUsername');
            const editEmailInput = document.getElementById('editEmail');
            const roleSelect = document.getElementById('role');
        
            // Get CSRF token
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        
            const csrftoken = getCookie('csrftoken');
        
            editUserButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const userId = this.dataset.userId;
                    // Fetch user data using AJAX or populate form with data attributes
                    userIdInput.value = userId;
                    // Fetch user data using AJAX
                    fetch(`/user/${userId}/`)
                        .then(response => response.json())
                        .then(data => {
                            editUsernameInput.value = data.username;
                            editEmailInput.value = data.email;
                            roleSelect.value = data.role;
                            editUserModal.style.display = 'block';
                        });
                });
            });
        
            closeModalButton.addEventListener('click', function() {
                editUserModal.style.display = 'none';
            });
        
            window.addEventListener('click', function(event) {
                if (event.target == editUserModal) {
                    editUserModal.style.display = 'none';
                }
            });
        
            editUserForm.addEventListener('submit', function(event) {
                event.preventDefault();
                const userId = userIdInput.value;
                const data = {
                    username: editUsernameInput.value,
                    email: editEmailInput.value,
                    role: roleSelect.value
                };
                fetch(`/update/${userId}/`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify(data)
                }).then(response => response.json())
                .then(data => {
                    if (data.message) {
                        alert(data.message);
                        location.reload();
                    } else if (data.error) {
                        alert(data.error);
                    }
                });
            });
        
            deleteUserButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const userId = this.dataset.userId;
                    if (confirm('Are you sure you want to delete this user?')) {
                        fetch(`/delete/${userId}/`, {
                            method: 'DELETE',
                            headers: {
                                'X-CSRFToken': csrftoken
                            }
                        }).then(response => response.json())
                        .then(data => {
                            if (data.message) {
                                alert(data.message);
                                location.reload();
                            } else if (data.error) {
                                alert(data.error);
                            }
                        });
                    }
                });
            });
        });
   </script>
</body>
</html>
